<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<<<<<<< HEAD
=======

    


>>>>>>> 923da988634cea6e01e462923142867c29629a82
  </head>
  <body>
    
    <script src="api.js"></script>

    <nav>
        <img class="logo" src="/images/logo.png" alt="Logo">
    </nav>
<<<<<<< HEAD
=======
    <body>
    <h1>Map User Location</h1>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
    <script src="map.js"></script>
    <script src="api.js"></script>

   

>>>>>>> 923da988634cea6e01e462923142867c29629a82

    <div id="map">
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
   <script src="map.js"></script>
   </div>

  <div class="Location">
    <p>Enter where you are and where you want to go below.</p><br>
    <div class="form">
      <div class="form1">
        <input class="Enter" type="text" id="location" name="location"> 
        <button class="btn" onclick="plotStartLocation()" type="submit"><i class="fas fa-search"></i> Locate Me</button>
      </div>

      <div class="form2">
        <input class="Enter" type="text" id="destination" name="destination">
        <button class="btn" onclick="plotDestination()" type="submit"><i class="fas fa-bus"></i> Find Me a Bus</button>
      </div>
    </div> 
  </div>
</body>
</html>
